@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">ASP.NET MVC Sumator demo. Click the button or navigate to "Sumator/Sumator" to enjoy the magic!</p>
    <p><a href="../Sumator/Sumator" class="btn btn-primary">Sumator &raquo;</a></p>
</div>